<div class="dialog-content">
	<form [formGroup]="selection">
		<div class="p-field">
			<label for="choice">{{
				data.placeholder || "Make a selection"
			}}</label>
			<p-select
				id="choice"
				name="choice"
				formControlName="choice"
				[options]="data.options | keyvalue"
				optionLabel="key"
				optionValue="value"
				[placeholder]="data.placeholder || 'Make a selection'"
				styleClass="w-full"
			></p-select>
		</div>
	</form>
</div>

<div class="dialog-actions">
	@if (data.canCancel) {
		<p-button
			label="Cancel"
			severity="secondary"
			(onClick)="cancel()"
		></p-button>
	}
	<p-button
		label="Select"
		[disabled]="selection.invalid"
		(onClick)="submit()"
	></p-button>
</div>
