.basic-auth-login {
	position: relative;
}

.lockup {
	user-select: none;
	padding-bottom: 30px;

	img {
		max-width: 200px;
		max-height: 110px;
	}
}

.error {
	position: absolute;
	left: 50%;
	bottom: -25px;
	transform: translate3d(-50%, 0, 0);
	width: 100%;
	font-size: 1.3rem;
	color: var(--color-danger);
}

.enter-code {
	.email-resent {
		opacity: 0;
		transform: translateY(20px);
		transition: all 1ms;

		&.active {
			opacity: 1;
			transition: all 300ms;
		}
	}

	form {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 70%;
		margin: 30px auto 0;
		text-align: center;

		.input-group {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-bottom: 1rem;

			.p-field {
				width: 50%;
				text-align: left;

				label {
					display: block;
					margin-bottom: 0.5rem;
					font-weight: 500;
					text-align: center;
				}

				.input-key {
					width: 100%;
					text-align: center;
				}
			}
		}

		.text-input {
			width: 50%;
			text-align: center;
			padding: 5px;
			border-radius: 6px;
			outline: none;
			border: 1px solid var(--p-surface-border);
		}

		.checkbox {
			.icon {
				margin-right: 5px;
			}
		}

		> * {
			margin-bottom: 10px;
		}
	}

	.resend {
		font-size: 1.2rem;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.resent {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate3d(-50%, 30px, 0);
		font-size: 1.2rem;
		color: var(--p-primary-color);
		opacity: 0;
		transition: opacity 400ms;

		&.active {
			opacity: 1;
		}
	}
}
